<% if can? :create, User %>
  <%= link_to 'Add New User', new_user_path, class: "btn btn-primary" %>
  <hr>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>User Name</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Active</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% @users.each do |user| %>
      <td>
        <% if can? :update, User %>
          <%= link_to edit_user_path(user), class: "btn btn-primary btn-xs"  do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        <% end %>
      </td>
      <td><%= user.user_name %></td>
      <td><%= user.email %></td>
      <td><%= user.admin ? "<span class='text-success'>Yes</span>".html_safe : "<span class='text-danger'>No</span>".html_safe  %></td>
      <td><%= user.active ? "<span class='text-success'>Yes</span>".html_safe : "<span class='text-danger'>No</span>".html_safe  %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, User %>
  <div class="card-footer"><%= link_to 'Add New User', new_user_path, class: "btn btn-primary" %></div>
<% end %>
