<%= form_for(section) do |f| %>
  <% if section.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h4>

      <ul>
      <% section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label class="control-label"><%= f.label :code,"الكود" %></label>
    <%= f.text_field :code, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label class="control-label"><%= f.label :name,"اسم القسم" %></label>
    <%= f.text_field :name, placeholder:'Insert section name', class: 'form-control' %>
  </div>

  <div class="actions">
    <%= button_tag( :class => "btn btn-primary") do %>
      <i class="fa fa-fw fa-lg fa-check-circle"></i> تسجيل القسم
    <% end %>
  </div>
<% end %>
