<% if can? :create, Section %>
  <%= link_to 'إضافة قسم جديد', new_section_path, class: "btn btn-primary" %>
  <hr>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>اسم القسم</th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td>
          <div class="btn-group">
            <% if can? :update, Section %>
              <%= link_to edit_section_path(section), class: "btn btn-primary btn-xs"  do %>
                <i class="fa fa-pencil"></i>
              <% end %>
            <% end %>
            <% if can? :destroy, Section %>
              <%= link_to section, method: :delete, data: { confirm: 'هل أنت متأكد؟' }, class: "btn btn-danger btn-xs"  do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            <% end %>
          </div>
        </td>
        <td>
          <p class="text-primary">
            <span class="badge"><%= section.code %></span>
            <%= section.name %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Section %>
  <div class="card-footer"><%= link_to 'إضافة قسم جديد', new_section_path, class: "btn btn-primary" %></div>
<% end %>
