<div class="nested nested_box">
  <%= f.label :quantity %>
  <%= f.text_field :quantity %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <!-- < %= f.label :effect %>
  < %= f.text_field :effect %> -->
  <%= f.hidden_field :effect, :value => @document.effect %>
  <%= f.label :discount_value %>
  <%= f.text_field :discount_value %>
  <%= f.label :returned %>
  <%= f.text_field :returned %>
  <%= f.label :product_id %>
  <%= f.text_field :product_id %>
</div>
