<%- if @finance_hash.present? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>التاريخ</th>
        <th>رقم المستند</th>
        <th>دائـن</th>
        <th>مدين</th>
        <th>اجمالي الفاتورة</th>
        <th>الرصيد</th>
        <th>أسم البائع</th>
      </tr>
    </thead>

    <tbody>
      <%- @finance_hash.each do |document| %>
        <% document = document.second %>
        <tr>
          <td>
            <% if document[:object_id] == "document" %>
              <%= link_to document[:date], controller: "documents", action: "show", id: document[:object_id]  %>
            <% else %>
              <%= document[:date] %>
            <% end %>
          </td>
          
          <td><%= document[:label] %></td>
          <td><%= document[:d] if document[:d].to_i > 0 %></td>
          <td><%= document[:m] if document[:m].to_i > 0 %></td>
          <td><%= document[:total_price] %></td>
          <td></td>
          <td><%= document[:user_name] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
