<!-- =======================================================================
     START :: Table row
     ======================================================================= -->
<tr id="document_<%= document.id %>">
  <td>
    <div class="btn-group">
      <%= link_to document, data: {toggle: "modal", target: "#my_show_document_#{document.id}"}, remote: true, class: "btn btn-success btn-xs" do %>
      <i class="fa fa-check"></i>
      <% end %>

      <% if can? :update, Document %>
      <%= link_to edit_document_path(document), class: "btn btn-primary btn-xs" do %>
          <i class="fa fa-pencil"></i>
        <% end %>
      <% end %>

      <% if can? :destroy, Document %>
        <%= link_to document, method: :delete, data: { confirm: 'هل أنت متأكد؟' }, remote: true, class: "btn btn-danger btn-xs"  do %>
        <i class="fa fa-trash-o"></i>
        <% end %>
      <% end %>
    </div>

    <!-- =======================================================================
        START :: Modal show action
        ======================================================================= -->
    <div class="modal fade" id="my_show_document_<%= document.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden=true>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">زلط .. لمفروشات العرائس <small class="pull-right">التاريخ: <%= document.doc_date %></small></h4>
          </div>
          <div class="modal-body">
            <!-- =============================================================== -->

            <section class="invoice">
              <div class="row invoice-info">

                <div class="col-xs-4">
                  <b>مسلسل #<%= document.code %></b><br><br><b>الفرع:</b> <%= document.store.name if document.store %><br><b>الخزينة:</b> <%= document.storage.name if document.storage %><br><b>المستخدم:</b> <%= document.user.user_name if  document.user %>
                </div>

                <div class="col-xs-4">
                  <b>المتداول:</b> <%= document.person.name if document.person %><br><br>
                  <b>ملاحظات:</b><p><%= document.note %></p>
                </div>

                <div class="col-xs-4">
                  <b>الإجمالى:</b> <%= document.total_price.to_f %><br><br>
                  <b>الخصم:</b> <%= document.discount_value.to_f %><br>
                  <b>الضريبة:</b><%= document.tax.to_f %><br>
                  <b>المدفوع:</b><%= document.payment.to_f %><br>
                  <b>الباقى:</b><%= document.rest.to_f %>
                </div>

            <div class="clearfix"></div>
            <br><br>

              <div class="row">
                <div class="col-xs-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>الباركود</th>
                        <th>اسم الصنف</th>
                        <th>الكمية</th>
                        <th>السعر</th>
                        <th>الخصم</th>
                        <th>الإجمالى</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% document.doc_items.each do |item| %>
                      <tr>
                        <td><%= item.product.barcode if item.product %></td>
                        <td><%= item.product.name if item.product %></td>
                        <td><%= item.quantity %></td>
                        <td><%= item.price.to_f %></td>
                        <td><%= item.discount_value.to_f %></td>
                        <td><%= item.quantity * item.price.to_f - item.discount_value.to_f %></td>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
            <!-- =============================================================== -->
          </div>
          <div class="modal-footer hidden-print">
            <div class="col-xs-12 text-right"><a class="btn btn-primary ga-print" target="_blank"><i class="fa fa-print"></i> طباعة</a>

            <button type="button" class="btn btn-default" data-dismiss="modal" id="my_show_document_close">إغلاق</button>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End :: Modal show action
        ======================================================================= -->

  </td>
    <td><%= link_to document.doc_date, document %></td>
    <td><%= document.code %></td>
    <td><%= document.storage.name if document.storage %></td>
    <td><%= document.person.name if document.person %></td>
    <td><span class="label label-success"><%= document.payment %></span> ج.م</td>
    <td><%= document.discount_value %> ج.م</td>
    <td><%= document.tax %> ج.م</td>
    <td><span class="label label-danger"><%= document.total_price %></span>
  ج.م</td>
    <td><%= document.user.user_name if document.user %></td>
</tr>
<!-- END :: Table row
     ======================================================================= -->
