<div class="nested nested_box">
  <div class="pull-left col-lg-1">
    <%= link_to "×", '#', class: "close remove_fields" %>
  </div>
  <%= f.text_field :quantity %>
  <%= f.text_field :price %>
  <%= f.hidden_field :effect, :value => @document.effect %>
  <%= f.text_field :discount_value %>
  <%= f.collection_select(:product_id, Product.all, :id, :name, {include_blank: true, :selected => 0}, { :class => "" }) %>
  <!-- <input class="document_invoice_total total" id="invoice_total" type="text" placeholder="0.00" disabled> -->
</div>
