<%= form_for(@document) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-sm-3">
      <%= f.label :doc_date,"التاريخ" %>
      <%= f.text_field :doc_date, placeholder: "Enter your date", class: "form-control", id: "demoDate" %>
    </div>

    <div class="form-group col-sm-2">
      <%= f.label :code,"المسلسل" %>
      <%= f.text_field :code, placeholder: "Enter your code", class: "form-control" %>
    </div>

    <div class="form-group col-sm-7">
      <%= f.label :note,"ملاحظات" %>
      <%= f.text_field :note, placeholder: "Enter your note here", class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="field col-sm-4">
      <% case @document.doc_type %>
      <% when 1 %>
      <!-- # first_term # don't show any person -->
      <% when 2,6  %>
      <!-- # purchase or returned_buy -->
      <%= f.label :person_id,"اسم المورد" %><br>
      <%= f.collection_select(:person_id, Person.people_by_type(2), :id, :name, {:selected => 1}, { :class => "form-control require" }) %>
      <% when 3 %>
      <!-- # sale_cash -->
      <%= f.label :person_id,"اسم العميل" %><br>
      <%= f.collection_select(:person_id, Person.where('id=1'), :id, :name, { :selected => 1 }, { :disabled => "disabled", :class => "form-control" }) %>
      <%= f.hidden_field :person_id, :value => 1 %>
      <% when 4 %>
      <!-- # selling_futures -->
      <%= f.label :person_id,"اسم العميل" %>
      <%= f.collection_select(:person_id, Person.people_by_type(1).where('id<>1'), :id, :name, {:selected => 0}, { :class => "form-control require" }) %>
      <% when 5 %>
      <!-- # returned_sale  -->
      <%= f.label :person_id,"اسم العميل" %>
      <%= f.collection_select(:person_id, Person.people_by_type(1), :id, :name, {:selected => 1}, { :class => "form-control require" }) %>
      <% when 7 %>
      <!-- # barcode don't show any person -->
      <% end %>
    </div>
  </div>

    <%= f.hidden_field :doc_type, :value => @document.doc_type %>
    <%= f.hidden_field :effect, :value => @document.effect %>
    <%= f.hidden_field :store_id, :value => @document.store_id %>
    <%= f.hidden_field :user_id, :value => @document.user_id %>

  <div class="row">
    <div class="form-group col-sm-3">
      <%= f.label :storage_id, "اسم الخزينة" %><br>
      <%= f.collection_select(:storage_id, Person.people_by_type(4), :id, :name, {:selected => 1}, { :class => "form-control" }) %>
    </div>

    <div class="form-group col-sm-3">
    </div>

    <div class="form-group col-sm-2">
      <%= f.label :discount_value, "قيمة الخصم" %>
      <%= f.text_field :discount_value, class: "form-control discount_or_tax discount_value" %>
    </div>

    <div class="form-group col-sm-2">
      <%= f.label :discount_ratio, "نسبة الخصم" %>
      <%= f.text_field :discount_ratio, class: "form-control discount_or_tax discount_percent" %>
    </div>

    <div class="form-group col-sm-2">
      <%= f.label :tax, "قيمة الضريبة" %>
      <%= f.text_field :tax, class: "form-control discount_or_tax tax" %>
    </div>
  </div>

  <hr>

    <!-- [Nested doc_items] -->
  <div class="row">
<div class="div-table">
  <div class="div-table-row">
    <div class="div-table-col div-table-col-20 div-table-col-th">&nbsp;</div>
    <div class="div-table-col div-table-col-200 div-table-col-th">باركود</div>
    <div class="div-table-col div-table-col-300 div-table-col-th">اسم الصنف</div>
    <div class="div-table-col div-table-col-th">الكمية</div>
    <div class="div-table-col div-table-col-th">السعر</div>
    <div class="div-table-col div-table-col-th">الخصم</div>
    <div class="div-table-col div-table-col-th">الإجمالى</div>
  </div>

  <%= f.fields_for :doc_items do |builder| %>
  <%= render "doc_item_fields", f: builder %>
  <% end %>

  <%= link_to_add_some_fields "إضافة صنف جديد", f, :doc_items %>

</div>

  <hr>

  <div class="row">
    <div class="form-group col-sm-2">
      <label class="control-label">الإجمالى</label><br>
      <input class="form-control lock-color invoice_total" placeholder="0.00" disabled>
    </div>

    <div class="form-group col-sm-2">
      <%= f.label :payment, "المدفوع" %><br>
      <%= f.text_field :payment,:placeholder => "0.00", class: "form-control alerm-text payment" %>
    </div>

    <div class="form-group col-sm-2">
      <label class="control-label">الصافى</label><br>
      <input class="form-control lock-color net" placeholder="0.00" disabled>
    </div>

    <div class="form-group col-sm-2">
      <label class="control-label">الباقى</label><br>
      <input class="form-control lock-color alerm-text rest" placeholder="0.00" disabled>
    </div>
  </div>

  <hr>

  <div class="actions">
    <%= submit_tag "تسجيل المستند", class: "btn btn-primary" %>
  </div>
<% end %>
<br>
