
<%= render 'filter_product' %>

<%- if @documents.any? %>
  <h4>
    <%= "اسم الصنف: #{@product.name} / الرصيد: #{@product.quantity}" %>
  </h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>التاريخ</th>
        <th>رقم المستند</th>
        <th>عدد وارد</th>
        <th>عدد صادر</th>
        <th>الرصيد</th>
        <th>أسم البائع</th>
        <th>المتداول</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>رصيد سابق</td>
        <td/>
        <td/>
        <td/>
        <td><%= @prev_quantity %></td>
        <td/>
        <td/>
      </tr>
      <%- @documents.each do |document| %>
        <tr id="document_<%= document.id %>">
          <td><%= link_to document.doc_date, document %></td>
          <td><%= document.label %></td>
          <td><%= @doc_items[document.id][:quantity_change] if [1, 3].include?(document.effect) %></td>
          <td><%= @doc_items[document.id][:quantity_change] if [2, 3].include?(document.effect) %></td>
          <td><%= @doc_items[document.id][:quantity_after_change] %></td>
          <td><%= document.user.user_name if document.user %></td>
          <td><%= document.person.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
