<p id="notice"><%= notice %></p>

<p>
  <strong>Doc date:</strong>
  <%= @document.doc_date %>
</p>

<p>
  <strong>Code:</strong>
  <%= @document.code %>
</p>

<p>
  <strong>Store:</strong>
  <%= @document.store %>
</p>

<p>
  <strong>Storage:</strong>
  <%= @document.storage %>
</p>

<p>
  <strong>Person:</strong>
  <%= @document.person %>
</p>

<p>
  <strong>User:</strong>
  <%= @document.user %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @document.payment %>
</p>

<p>
  <strong>Doc type:</strong>
  <%= @document.doc_type %>
</p>

<p>
  <strong>Effect:</strong>
  <%= @document.effect %>
</p>

<p>
  <strong>Discount value:</strong>
  <%= @document.discount_value %>
</p>

<p>
  <strong>Discount ratio:</strong>
  <%= @document.discount_ratio %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @document.tax %>
</p>

<p>
  <strong>Hold:</strong>
  <%= @document.hold %>
</p>

<p>
  <strong>Note:</strong>
  <%= @document.note %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
