<!-- =======================================================================
     START :: Table row
     ======================================================================= -->
<tr id="payment_<%= payment.id %>">
  <td>
    <div class="btn-group">
      <%= link_to payment, data: {toggle: "modal", target: "#my_show_payment_#{payment.id}"}, remote: true, class: "btn btn-success btn-xs" do %>
      <i class="fa fa-check"></i>
      <% end %>

      <% if can? :update, Payment %>
        <%= link_to payment, data: {toggle: "modal", target: "#my_update_payment_#{payment.id}"}, remote: true, class: "btn btn-primary btn-xs"  do %>
        <i class="fa fa-pencil"></i>
        <% end %>
      <% end %>

      <% if can? :destroy, Payment %>
        <%= link_to payment, method: :delete, data: { confirm: 'هل أنت متأكد؟' }, remote: true, class: "btn btn-danger btn-xs"  do %>
        <i class="fa fa-trash-o"></i>
        <% end %>
      <% end %>
    </div>

      <!-- =======================================================================
       START :: Modal update action
       ======================================================================= -->
    <%= form_for(payment, :method => :put, remote: true) do |f| %>
    <div class="modal fade" id="my_update_payment_<%= payment.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden=true>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel"><%= "تعديل #{@single_word}" %></h4>
          </div>
          <div class="modal-body">
            <!-- =============================================================== -->
            <div class="field">
              <%= f.label :code, "المسلسل" %><br>
              <%= f.text_field :code, class: "form-control"  %>
            </div>
            <div class="field">
              <%= f.label :pay_date,"التاريخ" %><br>
              <%= f.text_field :pay_date, class: "form-control", id: "demoDate" %>
            </div>
            <div class="field">
              <%= f.label :storage_id, "الخزينة" %><br>
              <%= f.collection_select(:storage_id, Person.people_by_type(4), :id, :name, {:selected => 1}, { :class => "form-control require" }) %>
            </div>
            <div class="field">
              <%= f.label :person_id,"اسم الحساب" %><br>
              <%= f.collection_select(:person_id, Person.all, :id, :full_description, {include_blank: true}, { :class => "form-control require" }) %>
            </div>
            <div class="field">
                <%= f.label :money, "المبلغ" %><br>
              <%= f.text_field :money,:placeholder => "0.00", :class => "form-control require import", :data_type => "double" %>
            </div>
            <div class="field">
              <%= f.label :description, "البيان" %><br>
              <%= f.text_field :description, class: "form-control require" %>
            </div>
            <div class="field">
              <%= f.label :note, "ملاحظات" %><br>
              <%= f.text_field :note, class: "form-control" %>
            </div>
            <!-- =============================================================== -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="my_new_payment_close">إغلاق</button>
            <%= button_tag( :class => "btn btn-primary") do %>
              <i class="fa fa-fw fa-lg fa-check-circle"></i> تعديل
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <!-- END :: Modal update action
         ======================================================================= -->

    <!-- =======================================================================
        START :: Modal show action
        ======================================================================= -->
    <div class="modal fade" id="my_show_payment_<%= payment.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden=true>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel"><%= "عرض بيانات #{@single_word}" %></h4>
          </div>
          <div class="modal-body">
            <!-- =============================================================== -->

            <div class="field">
              <p><%= payment.code %></p>
            </div>
            <div class="field">
              <p><%= payment.storage.name if payment.storage %></p>
            </div>
            <div class="field">
              <p><%= payment.person.name if payment.person  %></p>
            </div>
            <div class="field">
              <p>المبلغ = <%= payment.money %> ج.م</p>
            </div>
            <div class="field">
              <p><%= payment.description %></p>
            </div>
            <div class="field">
              <p><%= payment.note %></p>
            </div>
            <!-- =============================================================== -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="my_show_payment_close">إغلاق</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End :: Modal show action
        ======================================================================= -->

  </td>
    <td><%= payment.pay_date %></td>
    <td><%= payment.code %></td>
    <td><%= payment.storage.name if payment.storage %></td>
    <td><%= payment.person.name if payment.person %></td>
    <td>
      <span class="badge bg-info"><%= payment.money.to_f %></span>
      ج.م</td>
    <td><%= truncate(strip_tags(payment.description ),length:40) %></td>
    <td><%= payment.user.user_name if payment.user %></td>
</tr>
<!-- END :: Table row
     ======================================================================= -->
