<% if can? :create, Unit %>
  <%= link_to 'إضافة وحدة جديدة', new_unit_path, class: "btn btn-primary" %>
  <hr>
<% end %>


<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>اسم الوحدة</th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td>
          <div class="btn-group">
            <% if can? :update, Unit %>
              <%= link_to edit_unit_path(unit), class: "btn btn-primary btn-xs"  do %>
                <i class="fa fa-pencil"></i>
              <% end %>
            <% end %>

            <% if can? :destroy, Unit %>
              <%= link_to unit, method: :delete, data: { confirm: 'هل أنت متأكد؟' }, class: "btn btn-danger btn-xs"  do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            <% end %>
          </div>
        </td>
        <td>
          <p class="text-primary">
            <span class="badge"><%= unit.code %></span>
            <%= unit.name %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Unit %>
  <div class="card-footer"><%= link_to 'إضافة وحدة جديدة', new_unit_path, class: "btn btn-primary" %></div>
<% end %>
