<!-- =======================================================================
     START :: Table row
     ======================================================================= -->
<tr id="product_<%= product.id %>">
  <td>
    <div class="btn-group">
      <%= link_to product, data: {toggle: "modal", target: "#my_show_product_#{product.id}"}, remote: true, class: "btn btn-success btn-xs"  do %>
      <i class="fa fa-check"></i>
      <% end %>

      <% if can? :update, Product %>
        <%= link_to edit_product_path(product), class: "btn btn-primary btn-xs"  do %>
        <i class="fa fa-pencil"></i>
        <% end %>
      <% end %>
      <% if can? :destroy, Product %>
        <%= link_to product, method: :delete, data: { confirm: 'هل أنت متأكد؟' }, class: "btn btn-danger btn-xs"  do %>
        <i class="fa fa-trash-o"></i>
        <% end %>
      <% end %>
    </div>
  </td>
  <td><%= product.section.name if product.section %></td>
  <td><%= product.barcode %></td>
  <td class="text-primary">
    <strong><%= product.name %></strong>
  </td>
  <td>
    <%= product.unit.name if product.unit %>
    <span class="badge"><%= product.refill %></span>
    <%= product.unit_refill.name if product.unit_refill %>
  </td>
  <td>
    <span class="label label-warning"><%= product.price_out.to_f %></span>
    ج.م
  </td>
  <% if current_user.admin? %>
    <td>
      <span class="label label-success"><%= product.price_in.to_f %></span>
      ج.م
    </td>
  <% end %>
</tr>
  <!-- END :: Table row
     ======================================================================= -->

  <!-- =======================================================================
     START :: Modal show action
     ======================================================================= -->
  <div class="modal fade" id="my_show_product_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden=true>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="myModalLabel"><%= "#{product.barcode} - #{product.name}" %></h5>
        </div>
        <!-- =============================================================== -->
        <div class="modal-body">
          <p>
            <span class="fa fa-angle-double-left text-primary"></span>
            <strong>اسم القسم:</strong>
            <span class="text-info"><%= product.section.name if product.section %></span>
          </p>
          <p>
            <span class="fa fa-angle-double-left text-primary"></span>
            <strong>الكود:</strong>
            <%= product.code %>
          </p>
          <p>
            <span class="fa fa-angle-double-left text-primary"></span>
            <strong>الباركود:</strong>
            <span class="text-muted"><%= product.barcode %></span>
          </p>
          <p>
            <span class="fa fa-angle-double-left text-primary"></span>
            <strong>اسم الصنف:</strong>
            <span class="text-primary"><%= product.name %></span>
          </p>
          <% if current_user.admin? %>
          <p>
            <span class="fa fa-angle-double-left text-primary"></span>
            <strong>سعر الشراء:</strong>
            <span class="label label-success"><%= product.price_in.to_f %></span>
            ج.م
          </p>
          <% end %>
          <p>
            <span class="fa fa-angle-double-left text-primary"></span>
            <strong>سعر البيع:</strong>
            <span class="label label-warning"><%= product.price_out.to_f %></span>
            ج.م
          </p>
          <p>
            <span class="fa fa-angle-double-left text-primary"></span>
            <strong>الوحدة:</strong>
            <%= product.unit.name if product.unit %>
            <span class="badge"><%= product.refill %></span>
            <%= product.unit_refill.name if product.unit_refill %>
          </p>
          <p>
            <span class="fa fa-angle-double-left text-primary"></span>
            <strong>هل هو خدمة مقدمة:</strong>
            <%= product.service ? "نعم" : "لا" %>
          </p>
          <p>
            <span class="fa fa-angle-double-left text-primary"></span>
            <strong>قيمة الخصم:</strong>
            <span class="label label-info"><%= product.discount_value.to_f %></span>
            ج.م
          </p>
          <p>
            <span class="fa fa-angle-double-left text-primary"></span>
            <strong>الضريبة:</strong>
            <span class="label label-info"><%= product.tax.to_f %></span>
            ج.م
          </p>
          <p>
            <span class="fa fa-angle-double-left text-primary"></span>
            <strong>ملاحظات:</strong>
            <%= product.note %>
          </p>
        </div>
        <!-- =============================================================== -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="my_show_product_close">إغلاق</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End :: Modal show action
     ======================================================================= -->
