<!-- Side-Nav-->
<aside class="main-sidebar hidden-print">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image"><%= image_tag 'messenger.png', class: 'img-circle' %>
      </div>
      <div class="pull-left info">
        <p><%= current_user.user_name if current_user %></p>
        <p class="designation">Have a great day</p>
      </div>
    </div>
    <!-- Sidebar Menu-->
    <ul class="sidebar-menu">
      <li class="<%= active_class(root_path) %>">
        <%= link_to root_path do %>
          <i class="fa fa-dashboard"></i> Dashboard
        <% end %>
      </li>
      <li class="treeview <%= active_class(customers_people_path) %>"><a href="#"><i class="fa fa-edit"></i><span>Sales</span><i class="fa fa-angle-right"></i></a>
        <ul class="treeview-menu">
          <li>
            <%= link_to customers_people_path do %>
            <i class="fa fa-circle-o"></i> Customers
            <% end %>
          </li>
        </ul>
      </li>
      <li class="treeview <%= active_class(suppliers_people_path) %>"><a href="#"><i class="fa fa-th-list"></i><span>Procurement</span><i class="fa fa-angle-right"></i></a>
        <ul class="treeview-menu">
          <li>
            <%= link_to suppliers_people_path do %>
            <i class="fa fa-circle-o"></i> Suppliers
            <% end %>
          </li>
        </ul>
      </li>
      <li class="treeview <%= active_class(storages_people_path) %> <%= active_class(fees_people_path) %>"><a href="#"><i class="fa fa-file-text"></i><span>Accounts</span><i class="fa fa-angle-right"></i></a>
        <ul class="treeview-menu">
          <li>
            <%= link_to storages_people_path do %>
            <i class="fa fa-circle-o"></i> Storages
            <% end %>
          </li>
          <li>
            <%= link_to fees_people_path do %>
            <i class="fa fa-circle-o"></i> Expenses
            <% end %>
          </li>
        </ul>
      </li>
      <li class="treeview <%= active_class(sections_path) %> <%= active_class(units_path) %> <%= active_class(products_path) %>"><a href="#"><i class="fa fa-laptop"></i><span>Basic Data</span><i class="fa fa-angle-right"></i></a>
        <ul class="treeview-menu">
          <li>
            <%= link_to products_path do %>
            <i class="fa fa-circle-o"></i> Products
            <% end %>
          </li>
          <li>
            <%= link_to sections_path do %>
            <i class="fa fa-circle-o"></i> Sections
            <% end %>
          </li>
          <li>
            <%= link_to units_path do %>
            <i class="fa fa-circle-o"></i> Units
            <% end %>
          </li>
        </ul>
      </li>
      <li class="treeview"><a href="#"><i class="fa fa-pie-chart"></i><span>Reports</span><i class="fa fa-angle-right"></i></a>
        <ul class="treeview-menu">

        </ul>
      </li>
    </ul>
  </section>
</aside>
