<!DOCTYPE html>
<html dir="rtl">
  <head>
    <title>Zalat</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=El+Messiri" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="sidebar-mini fixed">
    <div class="wrapper">
      <!-- Sart Navbar-->
      <%= render "layouts/navbar" %>
      <!-- End Navbar-->
      <!-- Sart sidebar-->
      <%= render "layouts/sidebar" %>
      <!-- End sidebar-->
      <div class="content-wrapper">
        <div class="page-title">
          <div>
            <% unless @page_title %>
              <h1><i class="fa fa-dashboard"></i> زلـــط</h1>
              <p>لمفروشات العرائس</p>


            <% else %>
              <h1><i class="fa fa-cogs"></i> <%= @page_title %></h1>
            <% end %>
          </div>
          <%= render "layouts/notice"%>
        </div>

        <% if current_page?(root_path) %>
          <div class="raw">
            <%= render "layouts/widgets" %>
          </div>
        <% end %>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <%= yield %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
