<!DOCTYPE html>
<html>
  <head>
    <title>Moneroz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="sidebar-mini fixed">
    <div class="wrapper">
      <!-- Sart Navbar-->
      <%= render "layouts/navbar" %>
      <!-- End Navbar-->
      <!-- Sart sidebar-->
      <%= render "layouts/sidebar" %>
      <!-- End sidebar-->
      <div class="content-wrapper">
        <div class="page-title">
          <div>
            <% unless @page_title %>
              <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
              <p>Leave it to the savvy.</p>
            <% else %>
              <h1><i class="fa fa-cogs"></i> <%= @page_title %></h1>
            <% end %>
          </div>
          <% unless notice.blank? %>
            <div class="alert alert-info alert-dismissable alert-fixed">
              <%= notice %>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
            <% end %>
            <% unless alert.blank? %>
            <div class="alert alert-danger alert-dismissable alert-fixed">
              <%= alert %>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
          <% end %>
        </div>

        <% if current_page?(root_path) %>
          <div class="raw">
            <%= render "layouts/widgets" %>
          </div>
        <% end %>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <%= yield %>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </body>
</html>
